schemas/pages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Root element -->
  <xs:element name="pages">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="page" type="pageType" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- Page type definition -->
  <xs:complexType name="pageType">
    <xs:sequence>
      <xs:element name="url" type="xs:string"/>
      <xs:element name="button" type="buttonType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Button type definition -->
  <xs:complexType name="buttonType">
    <xs:sequence>
      <xs:element name="label" type="xs:string"/>
      <xs:element name="href" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
